@{
}

@model IEnumerable<string>


<div class="d-grid gap-2">
    
    <a href="/" class="btn btn-outline-secondary">Home</a>

    @foreach (string t in Model)
    {
        <a href="/?bowlingTeam=@t" class="btn @(Context.Request.Query["bowlingTeam"].ToString() == t ? "btn-primary" : "btn-outline-secondary")">@t</a>
    }
</div>